*~
*.log
*.aux
*.out
*.fls
*.bbl
*.blg
*.cut
*.fdb_latexmk
paper/*.eps
paper/root.pdf
paper/old-papers/itp/root.pdf
paper/auto
formalization/Dinic_Maxflow/evaluation/data/data-gen
formalization/Dinic_Maxflow/evaluation/fofu-SML/Fofu
formalization/Dinic_Maxflow/evaluation/fofu-C++/Fofu
formalization/Dinic_Maxflow/evaluation/fofu-C++/Fofu2
formalization/Dinic_Maxflow/evaluation/fofu-Java/*.class
formalization/Dinic_Maxflow/evaluation/fofu-Java/lib/*.class
formalization/Dinic_Maxflow/evaluation/rtof-SML/Rtof
formalization/Dinic_Maxflow/evaluation/rtof-C++/Rtof

