*~
*.log
*.aux
*.out
*.fls
*.bbl
*.blg
*.cut
*.fdb_latexmk
paper/snippets/snippets.out.tex
paper/*.eps
paper/root.pdf
paper/old-papers/itp/root.pdf
paper/auto
formalization/evaluation/data/data-gen
formalization/evaluation/data/data-cnv
formalization/evaluation/data/generators/*/gen
formalization/evaluation/data/samples/*.txt
formalization/evaluation/fofu-C++/Fofu
formalization/evaluation/fofu-C++/Fofu2
formalization/evaluation/fofu-Java/*.class
formalization/evaluation/fofu-Java/lib/*.class
formalization/evaluation/fofu-SML/Fofu
formalization/evaluation/prpu-C/Prpu
formalization/evaluation/prpu-C++/Prpu
formalization/evaluation/prpu-Java/*.class
formalization/evaluation/prpu-Java/lib/*.class
formalization/evaluation/prpu-Jadj/*.class
formalization/evaluation/prpu-Jadj/lib/*.class
formalization/evaluation/prpu-SML/Prpu
html
